/* .container{
    width: 80%;
    position: absolute;
    top: 50%;left:50%;
    transform: translate(-50%,-50%)
}
.quote{
    width: 100
} */

/* form{} */

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    
    padding: 0px;
    margin: 0px;
  }
.form-control{
    margin: 1em;
}
body{
    height: 100vh !important;
}